* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 24px;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: .67rem;
  margin: 0 .83rem;

  position: relative;
}

.menu {
  grid-column: 1 / 4;
  position: fixed;
}

.main {
  background-image: url(pics/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;

  height: 100vh;
}

.logo {
  grid-column: 1 / 5;
  align-self: end;
  justify-self: left;
}
.tel {
  grid-column: 5 / 9;
  align-self: end;
  justify-self: center;
}
.mail {
  grid-column: 9 / -1;
  align-self: end;
  justify-self: right;
}

h1,
span,
a {
  display: block;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2rem;

  color: black;
  text-decoration: none;
}

a {
  transition: color ease-in-out 100ms;
  cursor: pointer;
}

a:hover {
  color: #808080;
}

.hide {
  display: none;
}

@media (max-width: 800px) {
  html {
    font-size: 8px;
  }
}

.active {
  color: white;
}

.active::after {
  content: " ×";
}

.item {
  grid-column: 1 / -1;
  display: none;
  grid-template-columns: inherit;
  column-gap: inherit;
}

section.item {
  background-color: #1a1a1a;
}

#dlt .pic {
  mix-blend-mode: lighten;
}

div.wide {
  display: flex;
  align-self: center;
}

div.wide .pic {
  flex-direction: row;
  width: calc(50% - 8px);
}

div.wide .pic:first-child {
  margin-right: .67rem;
}

.wide {
  grid-column: 4 / -1;
}

#posters .pic {
  grid-column: 6 / 11;
}

.pic {
  display: inherit;
  width: 100%;
  margin: 1.33rem 0;
}

.show {
  display: inherit;
}
