:root {
  --accent-color: #3e51ff;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

html {
  height: 100%;
}

body {
  font-family: degular-text, sans-serif;
  font-size: 18px;
  line-height: 20px;

  display: flex;
  flex-direction: column;

  margin: 20px 28px;
}

h1 {
  margin-bottom: 28px;
}

.heading {
  font-family: degular-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 52px;
}

.accent-color {
  color: var(--accent-color);
}
a.accent-color:hover {
  color: #0b21e0;
}

aside {
  display: flex;
  flex-direction: column;
}

.contact {
  padding-top: 28px;
}

.contact a {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
}

.pic {
  max-width: 100%;
}

@media (min-width: 760px) {
  body {
    flex-direction: row;

    min-height: -webkit-fill-available;
  }

  aside {
    margin-right: 5%;
    position: sticky;
    top: 0;

    max-width: 240px;
  }

  .contact {
    justify-self: end;
    margin-top: auto;
  }

  main {
    width: fit-content;
  }

  a.heading {
    position: relative;
    left: 68px;
    margin-bottom: 20px;
    display: block;
    height: auto;
  }

  a.heading:hover::before {
    content: "→";
    position: absolute;
    left: -68px;
    color: var(--accent-color);
  }

  .robopractice {
    display: none;
  }

  .robopractice-link:hover ~ .robopractice {
    display: block;
    position: fixed;
    top: 15%;
    left: 50%;
  }
}
