:root {
  --margin-top: 1.33rem;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 24px;
  height: -webkit-fill-available;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 0.67rem;
  margin: 0 0.83rem;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.menu {
  grid-column: 1 / 4;
  position: fixed;
  /* height: fit-content;
  position: sticky;
  top: 0; */
}

.main {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-image: url(pics/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

h1,
span,
a {
  display: block;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2rem;

  color: black;
  text-decoration: none;
}

a {
  transition: color ease-in-out 100ms;
  cursor: pointer;
}

a:hover {
  color: #808080;
}

.logo a,
.main a {
  font-size: 1rem;
}

.main a {
  line-height: 1.5rem;
}

.active {
  color: white;
}

.item {
  grid-column: 4 / -1;
  grid-template-columns: inherit;
  column-gap: inherit;
}

.works,
#dlt {
  background-color: #1a1a1a;
}

.pic {
  display: inherit;
  width: 100%;
}

.item > .pic {
  margin: var(--margin-top) 0;
}

#dlt .pic {
  mix-blend-mode: lighten;
}

div.wide {
  display: flex;
  align-self: flex-start;
  margin: var(--margin-top) 0;
}

div.wide .pic {
  flex-direction: row;
  width: calc(50% - 0.335rem);
  height: auto;
  align-self: flex-start;
}

div.wide .pic:first-child {
  margin-right: 0.67rem;
}

.wide {
  grid-column: 4 / -1;
}

#posters.item {
  grid-column: 6 / 11;
}

@media (max-width: 900px) {
  :root {
    --margin-top: 0.67rem;
  }
  body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 0.67rem;
    margin: 0 0.5rem;
  }

  .works h1 a {
    color: white;
    text-align: center;
  }
  .links {
    display: none;
  }
  .menu {
    position: initial;
    grid-column: 1 / -1;
  }
  .works .menu {
    background-color: #1a1a1a;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .main {
    height: auto;
    background: none;
    min-height: auto;
  }
  #posters.item {
    grid-column: 1 / -1;
  }
  .item {
    grid-column: 1 / -1;
  }
}
